 #cnt1 {            
    width: 95%;
     background-color:rgba(215, 212, 212, 0.88);
     margin-bottom:70px;
 }
  
 .feature{
     padding: 20px 0;
    text-align: center;
 }
.feature li{
text-align:left;
font-size:16px;
padding:10px;
}
 .feature > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
 }
 .feature > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
    background: rgba(232, 215, 215, 0.10);
    transition: 0.3s;
 }
.img-circle {
    border-radius: 0%;
}
body{
background:#EEEEEE;
}
hr{
 border: 0; border-bottom: 1px dashed #ccc; background: #999;
}
.dropdown-menu
{
padding:10px;
width:300%;
}
.navbar{
background-color: #5cb85c;

}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
#footer{
background-color: #5cb85c;
color: #fff;
}
#footer .container a{
color:white;
text-decoration:none;
}
#footer .container li > a:hover > a:focus{
background-color:transparent;
color:#333;
}



