
		.col-md-8
				{
				float:left;
				width: 66.6667%;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				    font-size:14px;
				}
			.col-md-4 {
				    width: 33.3333%;
				}
			[class*="col-"] {

				padding-bottom: 15px;
				    padding-top: 25px;
				padding-left:45px;
				height:auto;
				}
			.row
				{
				margin-top:10%;
				font-size:20px;
width:100%;
margin-left:0%;
				}
			.img-thumbnail
				{
				height:100%;
				width:100%;
				}
			.table
				{
				border:none;
				width:50%;
				}

